body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.display {
  height: 10%;
  width: 500px;
  background-color: #000;
  color: white;
  box-sizing: border-box;
  text-align: right;
  font-size: 2.5rem;
}

.calculator {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 500px;
  width: 500px;
  box-sizing: border-box;
}

button{
  font-size: 25px;
  border: none;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
}

#digits button{
    flex: 1 0 33.33%;
    height: 20%;
    padding: 5px;
    margin: 0;
    background-color: gray;
    color: white;
}

#digits #clear, #digits #delete{
  flex: 1 0 50%;
  background-color: #a5a5a5;
  color: #000;
}


#operators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
}

#operators button{
    /* flex: 1 0 20%; */
    padding: 5px;
    height: 20%;
    background-color: orange;
    color: white;
}
